#card {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-top: 40px;

    .image {
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: -30px;
        margin-bottom: 10px;
    }

    p {
        text-align: center;
        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;

        color: #000000;

    }
    .card-footer{
        display: flex;
        justify-content: space-between;
        padding:5px 10px;
        .icon-message{
            cursor: pointer;
            i{
                font-size: 25px;
                color: #9d9494;
                &:hover{
                    color: #837e7e;
                }
            }
            
        }
        .avatar{
            width: 23px;
            height: 23px;
            border-radius: 100%;
            display: block;
        }
    }
}