#card-filter {
    cursor: pointer;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    border: 0.5px solid gray;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    justify-content: start;

    img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }

    p {
        font-family: 'Oxygen';
        font-style: normal;
        font-weight: 700;
        line-height: 25px;

        &.name {
            font-size: 17px;
            color: #000000;
        }
        &.address {
            font-size: 14px;
            color: #575454;
        }
    }
}